* {
    margin: 0;
    padding: 0;
}

:root {
    --header-color: #042940;
    --text-color: #ffffff;
    --border-header-color: #999;
}

html, body {
    height: 100%;
}

header {
    background-color: var(--header-color);
    color: var(--text-color);
    text-align: center;
    padding: 10px;  
    margin-bottom: 10px;
}

h1 {
   font-size: 40px;
}





