* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}

p {
    position: relative;
    top: 50%;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

