* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100vw;
}

body {
  font-family: "Montserrat", sans-serif;
   
}

:root {
  --color-one: #011F26;
  --color-two: #5C7373;
  --color-three: #027368;
  --color-four: #032612;
  --color-five: #034001;
  --color-shadow: rgba(0, 0, 0, 0.5);
  --white-color: #ffffff;
}

header {
  background-color: var(--color-one);
  color: #ffffff;
  padding: 12px 0;
  text-align: center;
  letter-spacing: 0.1em;
  box-shadow: 4px 4px 4px var(--color-shadow);
  z-index: 2;
}

.main {
  text-align: center;
  margin: 16px 0;
  border-top: 1px solid var(--color-shadow);
  border-bottom: 2px solid var(--color-shadow);
  padding: 10px 0;
  z-index: 1;
}

.landing {
  padding: 16px 0;
}

div.list-item {
  text-align: center;
  margin-top: 16px;
}

p.item-list {
  width: 600px;
  margin: auto auto;
}

p.item-list {
  border: 1px solid var(--color-two);
  font-weight: 400;
  padding: 6px 0;
  margin-bottom: 10px;
  box-shadow: 2px 2px 2px var(--color-shadow);
}

button {
   background-color: var(--color-one);
   margin-top: 10px;
   border: none; 
   width: 86px;
   color: #ffffff;
   font-size: 20px;
   font-weight: 400;
   height: 30px;
   border-radius: 5px;
   cursor: pointer;
}

i.fa-list {
  display: block;
  font-size: 50px;
  margin: auto auto;
}

input {
 width: 500px;
 height: 40px;
 border-radius: 5px;
}

i.fa-trash {
  color: var(--color-five);
  cursor: pointer;
  display: block;
  margin: auto auto;
  margin-top: 10px;
  font-size: 20px;
}

footer {
  background-color: var(--color-four);
  color: var(--white-color);
  height: 200px;
  text-align: center;
  padding: 10px 0;
  letter-spacing: 0.1em;
}

footer p {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.1em;
}

.edit {
  color: var(--color-five);
}

.copy {
  font-size: 14px;
  margin-top: 10px;
}

@media screen and (max-width: 768px) {
  input {
     width: 300px;
     height: 40px;
  }

  button {
    height: 40px;
  }

  p.item-list {
    width: 320px;
  }

}