* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --header-color: #012030;
  --text-header-color: #DAFDBA;
  --shadow: rgba(0, 0, 0, 0.5);
  --color-one: #9AEBA3;
  --color-two: #45C4B0;
  --color-three: #13678A;
}

header {
  background-color: var(--header-color);
  color: var(--text-header-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  box-shadow: 4px 4px 4px var(--shadow);
  letter-spacing: 0.1em;
}

i {
  font-size: 26px;
}

section {
  margin: 10px 0;
  text-align: center;
  font-size: 26px;
}

form {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

input.form-control {
  width: 320px;
  margin-right: 8px;
  height: 60px;
}

.btn {
  background-color: black;
  color: white;
  font-size: 20px;
}
.btn:hover {
  background-color: white;
  color: black;
}
.state {
  display: none;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

